body {
    text-align: center;
    color: white;
    font-size: 25px;
    font-family: monospace;
    background-image: url("../img/space.jpg");
    background-size: cover;
}

button {
    height: 50px;
    width: 125px;
    border-radius: 20px;
    margin: 10px;
    cursor: pointer;
    font-weight: bold;
}

.start-btn {
    transition: background-color 0.5s;
    display: block;
    margin: auto;
}

.music-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: red;
    transition: background-color 1s;
}


button:hover {
    background-color: gray;
}

table {
    margin: auto;
    border-collapse: collapse;
    border: 3px white solid;
    background-color: #000;
    margin-top: 10px;
}

td {
    height: 50px;
    width: 50px;
}

.stats {
    background-color: #000;
    padding: 20px;
    width: 350px;
    margin: auto;
    margin-bottom: 15px;
    border-radius: 25px;
}

.controls {
    height: 726px;
    width: 250px;
    background-color: #000;
    border: 3px white solid;
    margin-right: 20px;
}

.center-container {
    display: inline-flex;
    flex-direction: row;
    align-items: flex-end;
    margin-right: 210px;
}

.modal {
    background-color: #000;
    border: 5px white solid;
    height: 250px;
    width: 350px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}